<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="footer">
    <div class="box contactdetails">
      <h2>Contact</h2>
      <ul>
        <li>Fort Lauderdale, FL</li>
        <li>Open to software, product, and technical collaboration</li>
        <li>
          <a href="mailto:raul.mendy@outlook.com">Email:</a>
          raul.mendy@outlook.com
        </li>
        <li class="last">
          <a href="/assests/RaulMendyResume.pdf">Resume</a>
        </li>
      </ul>
    </div>
  </div>
  <br class="clear" />
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2026 Raul Mendy. All rights reserved.</p>
    <p class="fl_right">Built as a living portfolio, not a frozen template.</p>
    <br class="clear" />
  </div>
</div>
