<div class="wrapper col1">
  <div class="accordion">
    <div id="socialise">
      <div class="imgholder">
        <ul>
          <li>
            <a href="https://github.com/mendyraul">
              <img src="/styles/layout/images/github.jpg" alt="" />
              <span> Github </span>
            </a>
          </li>
          <li>
            <a href="https://www.faulacrosse.com">
              <img src="/styles/layout/images/FAULAX.png" alt="" />
              <span> FAU Lacrosse</span>
            </a>
          </li>
          <!-- <li><a href="#"><img src="styles/layout/images/linkedin.gif" alt="" /><span>Linked In</span></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ################################# NAVIGATION SECTION ########################################### -->
<div class="wrapper col2">
  <div id="header">
    <p class="toggler">
      <a id="slideit" href="#socialise">Click Here to Socialize!</a>
      <a id="closeit" style="display:none;" href="#socialise">Close Panel</a>
    </p>
    <button id="menu-toggle">Menu</button>
    <br class="clear" />
    <nav id="topnav" class="hidden">
      <ul>
        <li class="first"><a href="/index.html">Homepage</a></li>
        <li><a href="/pages/projects.html">Projects </a></li>
        <!-- <li><a href="/pages/blog.php">Blog</a></li> -->
        <li><a href="/pages/widgets.html">Widgets</a></li>
        <li><a href="/pages/blackjack.html">Blackjack</a></li>
        <li><a href="/pages/dogblog.html">Dogs</a></li>
        <li><a href="/pages/encryption.html">Encryption</a></li>
      </ul>
    </nav>
    <br class="clear" />
  </div>
</div>
