#tictactoe {
    background-color: black;
    margin-top:10px;
    border-collapse:collapse;
    width: fit-content;
    height: fit-content;
    font-size: 100px;
}
td {
    border: 1px solid blue;
    white-space: nowrap;
}
.container {
    position: relative;
  }
.text-block {
    position:fixed;
    border-bottom: 30%;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }



